@import url('https://fonts.googleapis.com/css?family=Courgette');
@import url('https://fonts.googleapis.com/css?family=Fredoka+One');
@import url('https://fonts.googleapis.com/css?family=Oswald');
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');
@import url('https://fonts.googleapis.com/css?family=Caveat+Brush');
.row1{
    margin-top: 20px;
    text-align: center;
}
h1{
    font-family: 'Caveat Brush', cursive!important;
    font-size: 3em;
}
h3{
    font-family: 'Oswald', sans-serif;
    margin-top: 100px;
    padding-top: 80px;
}
h4{
    font-family: 'Oswald', sans-serif;
    padding-top: 150px;
}
body
{
background-color: black;}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    
}

input[type=submit] {
    background-color: white;
    color: black;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: gray;
}
.navbar-dark .navbar-nav .nav-link {
    color: rgba(255, 255, 255, 1);
}
.container-fluid {
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url("images/551.jpg");
    background-position: center;
    background-size: cover;
    border-radius: 5px; 
    background-color: black;
    padding: 20px;
    position: relative;
    color: white;
}

label{
    float: left;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   
}
.icon {
    padding: 10px;
    color: white;
  }
  img.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    width: 100%;
    opacity: 0.9;
}
.responsive {
    width: 100%;
    height: 55%;
}
.footer {
    padding: 50px 0 20px 0;
    background-image: url("images/nav.jpg");
    color: #FFF;
    position: relative;
}
.footer .title{text-align: left;color:#fff;font-size:25px;}


.footer .social-icon{padding:0px;margin:0px;}
.footer .social-icon a{display:inline-block;color:#fff;font-size:25px;padding:5px;}
.footer .acount-icon a{display:block;color:#fff;font-size:18px;padding:5px;text-decoration:none;}
.footer .acount-icon .fa{margin-right:25px;}


.footer .category a {
    text-decoration: none;
    color: #fff;
    display: inline-block;
    padding: 5px 20px;
    margin: 1px;
    border-radius:4px;
    margin-top: 6px;
    background-color: black;
    border: solid 1px #fff;
}

.footer .payment{margin:0px;padding:0px;list-style-type:none}
.footer .payment li{list-style-type:none}
.footer .payment li a {
    text-decoration: none;
    display: inline-block;
    color: #fff;
    font-size: 25px;
    padding: 10px 10px;
}
.colll{
    background-image: url("images/nav1.jpg");
  }

.btn-block {
    display: block;
    width: 400%!important;
    max-width: 400px;
}
@media only screen and (max-width: 600px) {
    .btn-block {
        width: 100%!important;
    }
}
.drpp{
    background-color: black!important;
    color: white!important;
  }
  .drp{
    color: whitesmoke;
    border-radius: 5px;
  }
  .drp:hover{
    background-color: silver;
  }
.tbl{
    text-align: justify;
    width: auto;
}
.cont{
    font-family: 'Roboto Mono', monospace;
}