@import url('https://fonts.googleapis.com/css?family=Merienda');
@import url('https://fonts.googleapis.com/css?family=Lobster+Two');
@import url('https://fonts.googleapis.com/css?family=Enriqueta');
@import url('https://fonts.googleapis.com/css?family=Montserrat');
body{
    font-family: 'Montserrat', sans-serif;
}
h1{
    font-family: 'Merienda', cursive!important;
    text-shadow: 2px 2px 2px white;
}
h4{
  font-family: 'Lobster Two', cursive;
}
img.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    width: 100%;
    
}
.responsive {
    width: 100%;
    height: 55%;
    
}
h1{
    padding-top: 70px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font: bold;
    color: snow;
}
.boot{
   
   
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url("images/1.jpg");
    position: relative;
    text-align: center;
    background-size: cover;
}
.div1 {
    position: relative;
    width: 100%;
  }
  
  
  
  .text-block {
    display: block;
    width: 80%;
    position: relative;
    bottom: 0px;
    background-color: rgba(0,0,0,0.3);
    color: white;
    padding-left: 20px;
    padding-right: 20px;
}
.text-block:hover{
  box-shadow:  5px 5px cyan;
  text-shadow: 3px 3px 4px red;
}
.image {
  display: block;
  width: 90%;
  height: auto;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;

}
.image:hover  {
    width: 100%;
	border-radius: 50%;
}
a:link{
    text-decoration: none;
}
.footer {
    padding: 50px 0 20px 0;
    background-image: url("images/nav.jpg");
    color: #FFF;
    position: relative;
}
.footer .title{text-align: left;color:#fff;font-size:25px;}


.footer .social-icon{padding:0px;margin:0px;}
.footer .social-icon a{display:inline-block;color:#fff;font-size:25px;padding:5px;}
.footer .acount-icon a{display:block;color:#fff;font-size:18px;padding:5px;text-decoration:none;}
.footer .acount-icon .fa{margin-right:25px;}


.footer .category a {
    text-decoration: none;
    color: #fff;
    display: inline-block;
    padding: 5px 20px;
    margin: 1px;
    border-radius:4px;
    margin-top: 6px;
    background-color: black;
    border: solid 1px #fff;
}

.footer .payment{margin:0px;padding:0px;list-style-type:none}
.footer .payment li{list-style-type:none}
.footer .payment li a {
    text-decoration: none;
    display: inline-block;
    color: #fff;
    font-size: 25px;
    padding: 10px 10px;
}
.colll{
    background-image: url("images/nav1.jpg");
  }
  
  h4{
    padding: 4px;
}
.row1{
    padding: 4px;
}
.address{
    background: linear-gradient(to bottom, rgba(255,255,255,0.15) 0%, rgba(0,0,0,0.15) 100%), radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%) #989898; 
 background-blend-mode: multiply,multiply;
    border-radius: 30px;
    text-align: left;
    color: azure;
    font-family: 'Enriqueta', serif;
}
.lnk{
    color: lightgrey;
}

.lnk:hover{
    color: burlywood;
}